.header {
  max-width: 880px;
  margin: auto;
  padding: 45px 0 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(84, 84, 84, 0.7);
}

@media all and (max-width: 992px) {
  .header {
    max-width: 598px;
  }
}

@media all and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding: 28px 0 0;
    gap: 31.6px;
  }
}
